<h1 id="tableLabel">Hotels</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!hotels?.length"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="hotels.length">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>ReviewScore</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hotel of hotels">
      <td>{{ hotel.name }}</td>
      <td>{{ hotel.description }}</td>
      <td>{{ hotel.reviewScore }}</td>
      <td>{{ hotel.address }}</td>
    </tr>
  </tbody>
</table>
